@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-inline: 3rem;
    margin-bottom: 2rem;
}

nav a {
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-size: 3rem;
    font-weight: 700;
}